# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/shorvlqo/backend.management.shorobindu.com"
PassengerBaseURI "/"
PassengerNodejs "/home/shorvlqo/nodevenv/backend.management.shorobindu.com/14/bin/node"
PassengerAppType node
PassengerStartupFile index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
SetEnv CONSUMER_KEY ck_3493fe587f6a1437f237e5c534d6576c72606305
SetEnv CONSUMER_SECRET cs_8e54094ed6fe5aa231d78df2de007f95ca1c9954
SetEnv DYNAMIC_MANAGEMENT_UPDATE_CHANNEL https://hooks.slack.com/services/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
SetEnv MONGO_STRING mongodb+srv://sorobindu:SoroBindu65820@sorobindu.zxvpzne.mongodb.net/leadmenagement?retryWrites=true&w=majority
SetEnv SERVER_PORT 7000
SetEnv SSLWAIRELESS_TOKEN bnenwyvz-xw2qgyqv-xbebq7ib-a04pkcfn-tykxljz6
SetEnv TOKEN_EXPAIR 2
SetEnv TOKEN_SECREATE sorobindu_token_screat!!//5456
SetEnv SSLWAIRELESS_SID1 sorobindu
SetEnv SSLWAIRELESS_SMS_BASEURL https://smsplus.sslwireless.com/
SetEnv SLACK_RIDAM_PAUL https://hooks.slack.com/services/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
SetEnv SLACK_JILLUR_RAHMAN https://hooks.slack.com/services/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
SetEnv SLACK_DYNAMIC_NOTIFY https://hooks.slack.com/services/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
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END